<div class="container mb-4">
    <div class="row">
        <div class="col-md-8 m-auto">
            <h3 class="mb-4 text-info">Chi tiết ảnh</h3>
            <div class="d-flex justify-content-end mb-2">
                <button (click)="goToUpdateImage()" class="btn btn-outline-success me-3">Chỉnh sửa ảnh</button>                               
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Xóa ảnh
                </button>
                
                <!-- Modal -->
                <div class="modal fade delete_noti" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-success" id="exampleModalLabel">Xóa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Bạn chắc chắn muốn xóa ảnh này ?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button (click)="deleteImg()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img [src]="image?.url" class="card-img-top img_detail_height" alt="...">
                <div class="d-flex justify-content-around mt-3">
                    <p class="mx-3"><i (click)="like()" [style.color]="isLike ? 'red' : '#ccc'" class="fas fa-heart heart_has_like"></i>&nbsp;&nbsp;&nbsp;{{image?.likeCount}}</p>
                    <p href=#cmt class="mx-3 detail_cmt"><i class="far fa-comment-alt"></i> Bình luận ({{image?.commentCount}})</p>
                    <p class="mx-3 detail_view">Lượt xem : {{image?.viewsCount}}</p>                               
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{image?.name}}</h4>
                    <p class="card-text">{{image?.desciption}}.</p>
                    <p>Tác giả : {{image?.userName}}</p>
                    <p>Trạng thái : {{image?.imageStatus ? "Công khai" : "Riêng tư"}}</p>
                    <p class="card-text"><small class="text-muted detail_view">{{image?.dateCreate | date}}</small></p>
                    <hr>
                    <h4>Bình luận của mọi người</h4>                              
                    <div *ngFor="let comment of comments" class="mt-4">
                        <div class="mt-4 py-2 bg_cmt">
                            <p class="user_cmt px-4 text-primary cmt_item">{{comment.userName}} <i class="far fa-user"></i></p>
                            <p class="py-2 px-4 rounded-pill cmt_item">{{comment.content}}</p>
                        </div>
                    </div>
                    <form class="d-flex mt-5" [formGroup]="commentFormGr" (ngSubmit)="sendComment()">
                        <p class="mt-2 user_cmt">{{user?.userName}} <i class="far fa-user"></i></p>
                        <input id="cmt" formControlName="content" type="text" class="pe-3 input_cmt" placeholder="Nhập bình luận của bạn" aria-describedby="basic-addon1">
                        <button [disabled]="!commentFormGr.valid" type="submit" class="submit_cmt">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
