<!-- <app-header></app-header>

<body>
    <div class="containerr">
        <div class="grid">
            <div class="grid_row">
                <div class="container_category grid_col-2">
                    <div class="container_category-header">
                        <i class="fas fa-bars"></i>
                        <p>Danh mục ảnh</p>
                    </div>

                   <app-category></app-category>
            
                </div>

                <div class="container_header grid_col-10 ">
                    <div class="container_header-category">
                        <a class="container_header-category-1" [routerLink]="['/']"><p>Trang chủ</p></a>
                        <a class="container_header-category-2" (click)="topLikeImage()" [routerLink]="['/top-image']"><p>Ảnh hot của tháng</p></a>
                        <a class="container_header-category-3" (click)="getProfile()"><p>Quản lí ảnh của bạn</p></a>
                        <a class="container_header-category-4" [routerLink]="['/add-image',user.userId]"><p><i class="fas fa-plus"></i> Thêm ảnh mới</p></a>
                    </div>     
                    
                    <router-outlet></router-outlet>

                 </div>
                
            </div>
        </div>
    </div>
    
</body>

<app-footer></app-footer>
 -->
