<!-- <div class="container_detail">
    <div *ngFor="let image of images" class="container_detail-child mgb bg_manager">
        <div class="container_detail-child-btn">
            <button (click)="goToUpdateImage(userId,image.id)"><i class="fas fa-pen"></i> Sửa ảnh</button>
            <button (click)="deleteImage(userId,image.id)" class="btn2"><i class="fas fa-trash-alt"></i> Xóa ảnh</button>
        </div>
        <div class="container_detail-child-content">
            <div class="container_detail-list">
                <img class="container_detail-list-img" src="{{image.url}}">
                <div class="container_detail-list-quantity">
                    <p>{{image.likeCount}} Lượt thích</p>
                    <p class="cmt">{{image.commentCount}} Bình luận</p>
                </div>
                <hr>
                <div class="container_detail-list-icon">
                    <p><i class="far fa-heart"></i> Thích</p>                     
                    <p>luợt xem : {{image.viewsCount}}</p>
                </div>
            </div>

            <div class="container_detail-list detail_list-text">
                <p>Tên ảnh : {{image.name}}</p>
                <p class="description">Mô tả : {{image.desciption}}.</p>                         
            </div>

            <div class="container_detail-list detail_list-text">
                <p>Ngày tạo : {{image.dateCreate | date}}</p>
                <p>Trạng thái : {{image.imageStatus ? "Công khai" : "Riêng tư"}}</p>
                <p class="name">Tác giả : {{user.userName}}</p>  
            </div>
        </div>

        <div class="container_detail-child-cmt">
            <p>Bình luận</p>
            <input type="text" placeholder="Hãy nhập bình luận của bạn">
        </div>
    </div>
</div> -->



<div class="container mb-5">
    <div class="row">
        <div class="d-flex justify-content-between">
            <h3>Ảnh của bạn</h3>
            <div [routerLink]="['/add-image',user.userId]" class="btn btn-outline-info add_image">Thêm vào ảnh mới</div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let image of images" class="col-xl-3 col-md-4 col-sm-6 mt-4">
            <div class="card">
                <img (click)="getImageDetailByUser(userId, image.id)" src="{{image.url}}" class="card-img-top list_img_content" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{image.name}}</h5>
                    <p class="card-text list_text_content">{{image.desciption}}.</p>
                    <a (click)="getImageDetailByUser(userId, image.id)" class="btn btn-outline-success mx-auto">Xem chi tiết</a>
                </div>
            </div>
        </div> 
        <div class="fs-2 mt-5 text-warning" *ngIf="images ==''">Bạn chưa có ảnh nào, hãy thêm ảnh mới !</div>     
    </div>
</div>
