<div class="container mt-5">
    <h3 class="mb-4 text-warning">Ảnh hot của tháng <i class="fas fa-star"></i></h3>
    <div class="row justify-content-around">
        <div class="col-md-3">
            <div class="card bg_list-item">
                <p class="hot_title">Ảnh được nhiều yêu thích</p>
                <img src="../../assets/Img/bikini.jpeg" class="card-img-top list_img_content_hot rounded-circle" alt="">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <!-- <p class="card-text list_text_content">Mô tả : Some quick example text to build on the card title and.</p> -->
                    <div class="d-grid gap-2 col mx-auto">
                        <button class="btn btn-outline-info" type="button">Xem chi tiết</button>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg_list-item">
                <p class="hot_title">Ảnh có nhiều bình luận</p>
                <img src="../../assets/Img/bikini.jpeg" class="card-img-top list_img_content_hot rounded-circle" width="168" alt="">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <!-- <p class="card-text list_text_content">Mô tả : Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <div class="d-grid gap-2 col mx-auto">
                        <button class="btn btn-outline-info" type="button">Xem chi tiết</button>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg_list-item">
                <p class="hot_title">Ảnh có nhiều lượt xem</p>
                <img src="../../assets/Img/bikini.jpeg" class="card-img-top list_img_content_hot rounded-circle" width="168" alt="">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <!-- <p class="card-text list_text_content">Mô tả : Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <div class="d-grid gap-2 col mx-auto">
                        <button class="btn btn-outline-info" type="button">Xem chi tiết</button>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>