<div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-3 text-success fw_bold">Mạng xã hội hình ảnh <img src="../../assets/Img/logo.png" width="40" height="40"></h5>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              
              <div class="form-floating mb-3">
                <input type="text" formControlName="firstName" class="form-control" id="floatingInputname" placeholder="Tên" required autofocus>
                <label for="floatingInputname">Tên</label>
                <span *ngIf="registerForm.controls['firstName'].invalid &&(registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)" class="errorMessage">* Bạn chưa nhập tên.</span>       
              </div>

              <div class="form-floating mb-3">
                <input type="text" formControlName="lastName" class="form-control" id="floatingInputUser" placeholder="Họ" required autofocus>
                <label for="floatingInputUser">Họ</label>
                <span *ngIf="registerForm.controls['lastName'].invalid &&(registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)" class="errorMessage">* Bạn chưa nhập họ.</span>       
              </div>
              
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com" required>
                <label for="floatingInputEmail">Địa chỉ email</label>
                <span *ngIf="registerForm.controls['email'].invalid &&(registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="errorMessage">* Bạn chưa nhập email.</span>       
              </div>

              <div class="form-floating mb-3">
                <input type="email" formControlName="phoneNumber" class="form-control" id="floatingInputEmail" placeholder="Số điện thoại của bạn" required>
                <label for="floatingInputEmail">Số điện thoại</label>
                <span *ngIf="registerForm.controls['phoneNumber'].invalid &&(registerForm.controls['phoneNumber'].dirty || registerForm.controls['phoneNumber'].touched)" class="errorMessage">* Bạn chưa số điên thoại.</span>       
              </div>
              
              <div class="form-floating mb-3">
                <input type="text" formControlName="userName" class="form-control" id="floatingInputUsername" placeholder="Tên tài khoản" required autofocus>
                <label for="floatingInputUsername">Tên tài khoản</label>
                <span *ngIf="registerForm.controls['userName'].invalid &&(registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)" class="errorMessage">* Bạn chưa nhập tên tài khoản.</span>       
              </div>

              <div class="form-floating mb-3">
                <input type="password" formControlName="passWord" class="form-control" id="floatingPassword" placeholder="Mật khẩu" required>
                <label for="floatingPassword">Mật khẩu</label>
                <span *ngIf="registerForm.controls['passWord'].invalid &&(registerForm.controls['passWord'].dirty || registerForm.controls['passWord'].touched)" class="errorMessage">* Bạn chưa nhập mật khẩu.</span>       
              </div> 

              <!-- <div class="d-grid mb-2">
                <button [disabled]="!registerForm.valid" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Đăng ký</button>
              </div>   -->
              
              <div class="d-grid mb-2">
                <!-- <button [disabled]="!imageForm.valid" class="submit-btn" type="submit">Thêm ảnh</button> -->
      
                <!-- Button trigger modal -->
                  <button [disabled]="!registerForm.valid" type="submit" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Đăng ký
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">                  
                          <div class="modal-body">
                          Chúc mừng, Đăng ký tài khoản thành công !
                          </div>
                          <div class="modal-footer">
                          <button (click)="ok()" type="button" class="btn btn-success px-5 update_ok" data-bs-dismiss="modal">Ok</button>                
                          </div>
                      </div>
                      </div>
                  </div>
             </div>
              <a class="d-block text-center mt-2 small" [routerLink]="['/login']">Đã có tài khoản? đăng nhập</a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>